/*

font-family: 'Bungee Inline', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Bowlby One', cursive;

 */


/* Imgs */
.imgshrink{
  height: 5rem;
  width: 12rem;
}

/* Text */
.grand-text{
  font-size: 5rem;
  font-family: 'Bungee Inline', cursive;
}

.num{
  font-size: 6rem;
  font-family: 'Bowlby One', cursive;
  background-color: #2F4F4F;
  color: #4ce600;
  border-radius: 10px;
}

.num-alt{
  font-size: 5rem;
  font-family: 'Bowlby One', cursive;
  background-color: #2F4F4F;
  color: 	#D3D3D3;
  border-radius: 10px;
}

.bb-num-alt{
  font-size: 2rem;
  font-family: 'Bowlby One', cursive;
  background-color: #2F4F4F;
  color: 	#D3D3D3;
  border-radius: 10px;
}

.headr{
  font-size: 4rem;
  padding: 0.5rem;
  border: solid;
  border-color: #2F4F4F;
  color: #F5F5F5;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.headr-alt{
  font-size: 2.5rem;
  padding: 0.5rem;
  border: solid;
  border-color: #2F4F4F;
  color: #F5F5F5;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.bb-headr-alt{
  font-size: 1.5rem;
  padding: 0.5rem;
  border: solid;
  border-color: #2F4F4F;
  color: #F5F5F5;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.bb-txt{
  font-size: 1.05rem;
  color: #778899;
  font-family: 'Oxygen', sans-serif;
}

.picked{
  color: #4ce600;
  font-size: 1.15rem;
}

.bb-txt-alt{
  font-size: 1.75rem;
  text-decoration: underline;
  color: #F5F5F5;
  font-family: 'Oxygen', sans-serif;
}

.bad{
  color: red;
}

/* Divs */
.holder {
  background-color: #DCDCDC;
  text-align: center;
  margin: 1rem auto;
  width: 60rem;
  border-radius: 10px;
}

.spacer{
  height: 11rem;
}

.bb-spacer{
  height: 1rem;
}

.med-spacer{
  height: 7rem;
}

.centr{
  text-align: center;
}
.bingo{
  background-color: #2F4F4F;
  border-radius: 10px;
}

.gbr{
  background-color: #DCDCDC;
}
/* General */

body {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
