/*

font-family: 'Bungee Inline', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Bowlby One', cursive;

 */

 /* Imgs */
 .imgshrink{
   height: 5rem;
   width: 12rem;
 }

/* text */

#Name_of_restarter{
  text-align: center;
}

.inform{
  font-size: 2.2rem;
  color: #eeeeee;
  text-align: center;
}

.grand-text{
  font-size: 5rem;
  font-family: 'Bungee Inline', cursive;
}

.num{
  font-size: 6rem;
  font-family: 'Bowlby One', cursive;
  background-color: #2F4F4F;
  color: #4ce600;
  border-radius: 10px;
}

.num-alt{
  font-size: 5rem;
  font-family: 'Bowlby One', cursive;
  background-color: #2F4F4F;
  color: 	#D3D3D3;
  border-radius: 10px;
}

.bb-num-alt{
  font-size: 2rem;
  font-family: 'Bowlby One', cursive;
  background-color: #2F4F4F;
  color: 	#D3D3D3;
  border-radius: 10px;
}

.headr{
  font-size: 4rem;
  padding: 0.5rem;
  border: solid;
  border-color: #2F4F4F;
  color: #2F4F4F;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.headr-alt{
  font-size: 2.5rem;
  padding: 0.5rem;
  border: solid;
  border-color: #2F4F4F;
  color: #2F4F4F;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.bb-headr-alt{
  font-size: 1.5rem;
  padding: 0.5rem;
  border: solid;
  border-color: #2F4F4F;
  color: #2F4F4F;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.bb-txt{
  font-size: 1.05rem;
  color: #778899;
  font-family: 'Oxygen', sans-serif;
}

.picked{
  color: #4ce600;
  font-size: 1.15rem;
}

.bb-txt-alt{
  font-size: 1.75rem;
  text-decoration: underline;
  color: #009688;
  font-family: 'Oxygen', sans-serif;
}

.bad{
  font-size: 4.5rem;
  color: red;
}

/*  Divs */

.absolute{
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    to right bottom,
    rgba(0,188,212,.7),
    rgba(0,150,136,.7)),
    url('https://media.giphy.com/media/3ohzdYnPyEiKF74r3G/giphy.gif');

  background-size: cover;
  background-size:
}

.holder {
  background-color: #DCDCDC;
  text-align: center;
  margin: 1rem auto;
  width: 60rem;
  border-radius: 10px;
}

.spacer{
  height: 11rem;
}

.bb-spacer{
  height: 1rem;
}

.med-spacer{
  height: 7rem;
}

.centr{
  text-align: center;
}
.bingo{
  background-color: #2F4F4F;
  border-radius: 10px;
}

.gbr{
  background-color: #DCDCDC;
}

.form-pretty{
  background-color: #2a36b1;
  border-radius: 10px;
}

.hide{
  visibility: hidden;
}

.seek{
  visibility: visible;
}

/* General */
